.slide-enter {
  width: 1%;
}

.slide-enter.slide-enter-active {
  width: 70%;
  transition: 500ms ease-in;
}

.slide-leave {
  width: 70%;
}

.slide-leave.slide-leave-active {
  width: 1%;
  transition: 300ms ease-in;
}
